<launch>
	<arg name="input" default="rtp://@:1337"/>
	<arg name="input_width" default="1280"/>
	<arg name="input_height" default="720"/>
	<arg name="input_codec" default="h264"/>
	<arg name="input_loop" default="-1"/>

	<node pkg="yolov4_trt_ros" type="video_source" name="video_source" output="screen">
		<param name="resource" value="$(arg input)"/>
		<param name="width" value="$(arg input_width)"/>
		<param name="height" value="$(arg input_height)"/>
		<param name="codec" value="$(arg input_codec)"/>
		<param name="loop" value="$(arg input_loop)"/>
	</node>

</launch>
